@import "variables";
@import "mixins";
@font-face {
    font-family: "Cabin";
    font-style: normal;
    font-weight: 400;
    src: local("Cabin"), local("Cabin-Regular"), url("font.woff2") format("woff2"), url("font.woff") format("woff");
}

/* ROOT */

/* ROOT */

/* ROOT */

:root {
    width: 100%;
    height: 100%;
    color: $color-text-dark;
    background-color: $color-white;
    font-family: $font-family-default;
    font-size: $font-size-default;
}

* {
    margin: 0;
    padding: 0;
}

/* MEDIA */

/* MEDIA */

/* MEDIA */

@media screen and (orientation: landscape) {
    .explanation {
        bottom: 0;
    }
    .customization {
        top: 0;
    }
}

@media screen and (orientation: portrait) {
    .explanation {
        top: 0;
    }
    .customization {
        bottom: 0;
    }
}

/* GENERAL */

/* GENERAL */

/* GENERAL */

body {
    width: 100%;
    height: 100%;
}

h1,
h2 {
    font-weight: bold;
}

label {
    padding-left: $padding-minimal;
    font-size: $font-size-list;
}

li {
    padding-bottom: $padding-minimal;
    list-style: none;
    &:last-child {
        padding-bottom: 0;
    }
}

/* CONTENT */

/* CONTENT */

/* CONTENT */

.explanation {
    @include center-x(absolute);
    @include center-flex(nowrap);
    width: 90rem;
    height: 25rem;
}

.title {
    width: 100%;
    font-size: $font-size-title;
    text-align: center;
}

.customization {
    @include center-x(absolute);
    width: 90rem;
    height: 25rem;
}

.radio-list {
    display: inline-block;
}

.car {
    @include center(absolute);
    width: 90rem;
    height: 50rem;
    &>* {
        position: absolute;
        background-color: $color-blue;
        border-radius: $border-radius-default;
    }
    &>.car-roof {
        display: inline-block;
        top: 0;
        border-top: $border-width-car solid $color-black;
        &.car-roof--back {
            top: 11%;
            left: 12.5%;
            width: 27.5%;
            height: 33.33%;
            transform: rotate(-40deg);
        }
        &.car-roof--middle {
            left: 30%;
            width: 32.5%;
            height: calc(30% - 1rem + 1px);
        }
        &.car-roof--front {
            top: 11.15%;
            right: 25%;
            width: 25%;
            height: 33.33%;
            transform: rotate(50deg);
        }
    }
    &>.car-window {
        top: 1.5rem;
        width: 12.5%;
        height: calc(29% - 2rem);
        background-color: $color-white;
        border: $border-width-car solid $color-black;
        z-index: $depth-car-details;
        &>* {
            border-radius: $border-radius-default;
        }
        &.car-window--back {
            left: 29.5%;
        }
        &.car-window--front {
            right: 38.5%;
        }
        &>.car-window-angled {
            position: absolute;
            background-color: $color-white;
            &.car-window-angled--back {
                top: -1.5%;
                left: -50.5%;
                width: 50%;
                height: 85%;
                transform: rotate(50deg);
                border-left: $border-width-car solid $color-black;
            }
            &.car-window-angled--front {
                top: 2%;
                right: -43%;
                width: 50%;
                height: 82.5%;
                transform: rotate(-40deg);
                border-right: $border-width-car solid $color-black;
            }
        }
        &>.car-window-connector {
            position: absolute;
            bottom: -1rem;
            background-color: $color-white;
            border-bottom: $border-width-car solid $color-black;
            z-index: $depth-car-details;
            &.car-window-connector--back {
                left: -76.5%;
                width: 70%;
                height: 47.5%;
                border-left: $border-width-car solid $color-black;
            }
            &.car-window-connector--front {
                right: -65%;
                width: 57.5%;
                height: 40%;
                border-right: $border-width-car solid $color-black;
            }
        }
    }
    &>.car-body {
        top: 30%;
        left: 2.5%;
        width: calc(95% - 2rem);
        height: 35%;
        border: $border-width-car solid $color-black;
        border-radius: $border-radius-default;
    }
    &>.car-light {
        top: 30%;
        width: 5%;
        border: $border-width-car solid $color-black;
        border-radius: $border-radius-default;
        &.car-light--back {
            left: 2.5%;
            background-color: $color-red;
        }
        &.car-light--front {
            right: 2.5%;
            background-color: $color-yellow-light;
        }
        &.car-light:after {
            display: block;
            padding-bottom: 100%;
            content: "";
        }
    }
    &>.car-door {
        top: 17.5%;
        height: 52.5%;
        border: $border-width-car solid $color-black;
        border-radius: $border-radius-default;
        &.car-door--back {
            top: 16.5%;
            left: 21%;
            width: 21%;
        }
        &.car-door--front {
            top: 18.5%;
            right: 31.5%;
            width: 19.5%;
        }
        &>.car-door-handle {
            position: absolute;
            left: 10%;
            width: 5rem;
            height: 2rem;
            border-radius: 0.25rem;
            background-color: $color-black;
            &.car-door-handle--back {
                top: 30%;
            }
            &.car-door-handle--front {
                top: 26%;
            }
        }
    }
    &>.car-bumper {
        top: 67%;
        width: calc(100% - 2rem);
        height: 12.5%;
        border: $border-width-car solid $color-black;
        border-radius: $border-radius-default;
    }
    &>.car-wheel {
        bottom: 0;
        width: 20%;
        border-radius: 50%;
        background-color: $color-black;
        &.car-wheel--back {
            left: 15%;
        }
        &.car-wheel--front {
            right: 10%;
        }
        &.car-wheel:after {
            display: block;
            padding-bottom: 100%;
            content: "";
        }
    }
    &>.car-wheel-rim {
        bottom: 4.25%;
        width: 15%;
        border-radius: 50%;
        background-color: $color-white;
        &.car-wheel-rim--back {
            left: 17.5%;
        }
        &.car-wheel-rim--front {
            right: 12.5%;
        }
        &.car-wheel-rim:after {
            display: block;
            padding-bottom: 100%;
            content: "";
        }
    }
    &>.rim-design {
        display: none;
        bottom: 4.25%;
        width: 15%;
        border-radius: 50%;
        background-color: $color-white;
        &>* {
            border-radius: $border-radius-default;
        }
        &.rim-design--active {
            display: block;
        }
        &.rim-design--back {
            left: 17.5%;
        }
        &.rim-design--front {
            right: 12.5%;
        }
        &.rim-design:after {
            display: block;
            padding-bottom: 100%;
            content: "";
        }
        &.rim-design--biblical {
            &>.rim-design--biblical-vertical {
                @include center-x(absolute);
                top: -5%;
                width: 1rem;
                height: 110%;
                background-color: $color-black;
            }
            &>.rim-design--biblical-horizontal {
                position: absolute;
                top: 3rem;
                width: 100%;
                height: 1rem;
                background-color: $color-black;
            }
        }
        &.rim-design--spiral {
            &>.rim-design--spiral-30 {
                @include rim-design--spiral-spoke(30deg);
            }
            &>.rim-design--spiral-60 {
                @include rim-design--spiral-spoke(60deg);
            }
            &>.rim-design--spiral-90 {
                @include rim-design--spiral-spoke(90deg);
            }
            &>.rim-design--spiral-120 {
                @include rim-design--spiral-spoke(120deg);
            }
            &>.rim-design--spiral-150 {
                @include rim-design--spiral-spoke(150deg);
            }
            &>.rim-design--spiral-180 {
                @include rim-design--spiral-spoke(180deg);
            }
        }
    }
}