/* Colors */

$color-text-dark: #2F2F2F;
$color-text-light: #FDFDFD;
$color-white: #F2EFEA;
$color-black: #2F2F2F;
$color-yellow: #FEC3A6;
$color-yellow-light: #EFE9AE;
$color-orange: #FFAC81;
$color-red: #FF928B;
$color-blue: #2B59C3;
$color-brown: #8F8073;
/* Font */

$font-family-default: "Cabin",
sans-serif;
$font-size-default: 1vmin;
$font-size-name: 7.5rem;
$font-size-title: 5rem;
$font-size-heading: 3.75rem;
$font-size-list: 2.5rem;
$font-size-body: 1.25rem;
/* Line */

$line-height-tight: 1.25;
/* Positioning */

$positioning-thumb: 5rem;
$positioning-default: 2rem;
$positioning-minimal: 1rem;
/* Padding */

$padding-default: 2rem;
$padding-minimal: 1rem;
$padding-maximal: 5rem;
/* Margin */

$margin-default: 2rem;
$margin-minimal: 1rem;
$margin-maximal: 5rem;
$margin-extreme: 10rem;
/* Border */

$border-width-default: 2px;
$border-radius-default: 1rem;
/* Depth */

$depth-lowest: -1;
$depth-default: 0;