/* COLOR */

$color-white: #f2efea;
$color-grey: #d3c1c3;
$color-black: #2f2f2f;
$color-yellow: #efe9ae;
$color-red: #ff928b;
$color-blue: #2b59c3;

/* FONT */

$font-family-default: "Cabin", sans-serif;
$font-size-default: 1vmin;
$font-size-title: 7.5rem;
$font-size-heading: 3.75rem;
$font-size-list: 2.5rem;
$font-size-body: 1.25rem;

/* PADDING */

$padding-default: 2rem;
$padding-minimal: 1rem;
$padding-maximal: 5rem;

/* MARGIN */

$margin-default: 2rem;
$margin-minimal: 1rem;
$margin-maximal: 5rem;

/* BORDER */

$border-width-default: 2px;
$border-width-car: 1rem;
$border-radius-default: 1rem;

/* DEPTH */

$depth-lowest: -1;
$depth-default: 0;
$depth-car-details: 1;
$depth-error: 2;
